<%= link_to "New Course", new_course_path %>

<h2>Courses</h2>
<table class="table table-striped">
  <tr>
  	<th><%= sortable "course_id" %></th>
  	<th><%= sortable "credits" %></th>
  	<th><%= sortable "title" %></th>
  </tr>
	<% @courses.each do |course| %>
    <tr>
	  <td><%= link_to course.course_id, course %></td>
	  <td><%= link_to course.credits, course %></td>
    <td><%= link_to course.title, course %></td>
	</tr>
  <% end %>
</table>